---
import FooterArtCopy from "./crumbs/Footer-ArtCopy.astro";
import FooterCopyright from "./crumbs/Footer-Copyright.astro";
import FooterSupportAstro from "./crumbs/Footer-SupportAstro.astro";
---


<footer class="relative flex flex-row items-center justify-center scale-75 mb-5 pl-0 pt-10 max-w-[100vw]">
  <div class="">
    <div class="scooootch bg-base-100 transition ease-in-out items-center border border-gray-200 px-10 rounded-badge shadow dark:border-gray-700 dark:bg-gray-800">
      <div class="p-10 inline">
        <center><FooterCopyright /></center>
        <!--FooterArtCopy /-->
      </div>
    </div>
    <center class="pt-5"><FooterSupportAstro /></center>
  </div>
</footer>

<style>
</style>