---
---
<div class="w-fit mx-auto pd-0 mt-5 mb-6">
    <div class="avatar transition pd-0 ease-in-out hover:scale-[115%] block m-auto">
      <div class="w-[12rem] relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-badge group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <div class="h-full text-white object-center align-middle pd-0 p-0 bg-white border border-gray-700 rounded-badge shadow sm:p-0 md:p-2 dark:bg-gray-900 dark:border-gray-900">
          <div class="h-auto mt-6"><img src="/Holidays/holloween.svg" class="png" width={500} height={200} /></div>
          
        </div>
      </div>
    </div>
 </div>