<div class="px-4 pb-5 pt-1  self-center justify-left  ">
    <div class="relative">
        <table class="w-max[25%] text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-0 py-0 hover:scale-[150%]">
                        <img  src="/TestOutPCPRO.png" height="50px" width="50px" alt="TestOut PC Pro Certified">
                    </th>
                    <th scope="col" class="px-0 py-0 hover:scale-[150%]">
                        <a href="https://portal.3cx.com/share/certificate/w9XQneM8HY" target="_blank" class="mx-3" aria-label="3CX Basic Certified" title="3CX Basic Certified">
                            <img  src="/3cxBasic.png" height="75px" width="75px" alt="3CX Basic Certified">
                        </a>
                    </th>
                    <!--th scope="col" class="px-6 py-3">
                    </th-->
                </tr>
            </thead>
        </table>
    </div>
</div>
