---
import BaseLayout from "@layouts/BaseLayout.astro";
import HddHorizontalCard from "@components/contentResources/hddreports/HddHorizontalCard.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import Example from "@components/contentResources/hddreports/Example.astro";
import SearchWidget from "@components/contentResources/hddreports/SearchWidget.astro";
import BannerReports from "@components/contentResources/hddreports/Banner_Reports.astro";
dayjs.extend(localizedFormat);
export async function getStaticPaths({ paginate }){const hddreportlist = await getCollection("hddreports");
  hddreportlist.sort((a, b) => b.data.reportDate.valueOf() - a.data.reportDate.valueOf());
  return paginate(hddreportlist);}
const { page } = Astro.props;
---
<BaseLayout title="HDD Reports" sideBarActiveItemID="hddreports">
  <div class="pd-2 scooootch bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 mt-5">
    <div class="items-center"><br><div class="text-5xl font-bold"><center>Hard Drive Wiped Disk Reports</center></div><br></div>
    <SearchWidget />
    <Example />
    <BannerReports />
    <div class="">
      { page.data.map((post) => (<><br><HddHorizontalCard title={post.data.make + " " + post.data.model + " ~ S/N: " + post.data.serial} 
      desc={"Report Date: " + dayjs(post.data.reportDate).format("ll")} badge={post.data.capacity + " - " + post.data.size + " " + post.data.type} 
      url={"/hddreports/" + post.slug} target="" isSSD={post.data.isSSD}/></>)) }
    </div>
</BaseLayout>