---
import { getCollection } from "astro:content";

const hddreports = await getCollection('hddreports');

---

<ul>
    {hddreports.map(data => (
      <li>
        <a href={`/hddreports/${data.slug}`}>{data.data.serial}</a>
      </li>
    ))}
  </ul>