---
import type { GetStaticPaths } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import HorizontalCard from "@components/cards/HorizontalCard.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths({ paginate }) { 
  const posts = await getCollection('blog', ({ data }) => {return import.meta.env.PROD ? data.draft !== true : true; }); 
    posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, { pageSize: 10 });
}
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const { page } = Astro.props;
---
<BaseLayout title="Blog" sideBarActiveItemID="blog">
  <div class="pd-2 bg-white border scooootch border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 mt-5 w-full">
    <div class="items-center">
      <br />
        <div class="text-5xl font-bold"><center>Blog & Tutorials: Tag List</center></div>
      <br />
    </div>
    
    <div class="p-4 flex flex-wrap text-sm text-gray-900 rounded-badge bg-gray-50 dark:bg-gray-900 dark:text-gray-300">
        Tags: {tags.map((tag) => <a href={`/blog/tag/${tag}`} class="ml-2 h-auto badge badge-outline">{tag}</a>)}
    </div>
    <div class="divider my-1" /> 
    <div class="flex items-center p-4 mb-4 text-md text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-900 dark:text-red-400 dark:border-red-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Error</span>
        <div>
            <span class="font-large font-bold">Nothing Here...</span> Select a Tag from the list above to get started!
        </div>
    </div>
  </div>
</BaseLayout>
