---
import AdamCerts from "@components/index/AdamCerts.astro";
---
<div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
</div>

<div class="divider my-0" />

<AdamCerts />