---
import TimeLineElement from "@components/cv/TimeLine.astro";
---
<div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
</div>

<div class="divider my-0" />

<div class="time-line-container grid gap-4 mb-10">

    <TimeLineElement
      title="Pierce County Skills Center (PCSC)"
      subtitle="2015-2016 at Pierce County Skills Center, Puyallup, Washington, USA"
      />
      <p>PC Networking & Hardware Repair (PC Pro Certified)</p>
      PC Repair, PC Building, 3D Printing, Windows Server Management, Linux installation, TestOut Labsim The PC Networking & Hardware Repair program introduces students to a broad understanding of the installation and management of computer networks. Students also learn to troubleshoot, diagnose, and repair computer hardware. This program is aligned to industry-recognized standards.
  
</div>
