---
import TimeLineElement from "@components/cv/TimeLine.astro";
---
<div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
</div>

<div class="divider my-0" />

<div class="time-line-container mb-10">

    <TimeLineElement
      title="IT Contractor | Upwork"
      subtitle="From June 2021 To Present, Global"
    >
    I offer IT Support and Network Administration Services through my <a href="https://rebrand.ly/ad14c7">Upwork Profile</a>.
    </TimeLineElement>

    <TimeLineElement
      title="Independent Technician | HelloTech"
      subtitle="From December 2020 To July 2022, Greater Seattle Area, Washington, USA"
    >
    HelloTech provides nationwide, on-demand, expert tech and IT support, including Computer Repair, WiFi Services, Smart Home Installations, TV Mountings, and more. Brands like Comcast, Dwelo, and Walmart, as well as millions of customers like you, trust HelloTech to keep them up and running across all their devices.
    </TimeLineElement>

    <TimeLineElement
      title="Help Desk Technician | Your Business Solutions, INC. (YBS)"
      subtitle="From February 2018 To Auguest 2018, Remote, USA"
    >
    As a YBS Help Desk Technician, I have experience with Microsoft Office 365(including Word, Excel, OneNote, Teams, Sharepoint, OneDrive, AzureAD, Skype for Business, Visio), ConnectWise Manage/Automate/ScreenConnect, Crexendo VOIP, Counterpath Bria, Ubiquiti Networking, VMware vSphere, VMware ESXi, VMware Workstation Pro 14, Datto Backup, Remote Desktop, Some graphic design, and of course Customer Service.
    </TimeLineElement>

</div>
