<div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
</div>

<div class="divider my-0" />

<ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Computer Repair</li>
    <li>Computer Networking</li>
    <li>Customer Service Expert</li>
    <li>Computer Management</li>
    <li>Independently Driven</li>
    <li>Organzied</li>
    <li>Web Development</li>
    <li>Quick Learner</li>
    <li>3cx Phone System</li>
    <li>Virtual Machine Technology</li>
    <li>ConnectWise</li>
    <li>Office 365 (Microsoft 365)</li>
    <li>Ubiquiti Unifi</li>
    <li>Windows</li>
    <li>MacOS</li>
    <li>Linux</li>
</ul>