---
import BaseLayout from "@layouts/BaseLayout.astro";
import AboutMe from "@components/cv/AboutMe.astro";
import Education from "@components/cv/Education.astro";
import Experience from "@components/cv/Experience.astro";
import Certifications from "@components/cv/Certifications.astro";
import Skills from "@components/cv/Skills.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  
  <div class="pd-2 p-3 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 mt-5">

    <AboutMe />

    <Experience />

    <Certifications />

    <Education />

    <Skills />

  </div>
  
</BaseLayout>
