---
import BaseLayout from "../layouts/BaseLayout.astro";
import HddHorizontalCard from "../components/HddHorizontalCard.astro";
import { getCollection, getEntry, getEntries } from "astro:content";
const hddreportlist = await getCollection("hddreports");


---

<BaseLayout title="HDD Reports" sideBarActiveItemID="hddreports" >
  <div class="pd-2 bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 pb-12 mt-5">
    <div class="items-center">
      <br> 
      <div class="text-5xl font-bold"><center>Hard Drive Reports</center></div>
      <br>
    </div>
    <div class="divider my-0" />
    <div class="w-[1500px]">
        {hddreportlist.map((post) => (
          <>
          <HddHorizontalCard
            title={post.data.make + " " + post.data.model + " ~ " + post.data.serial}
            desc={"Report Date: " + post.data.reportDate.toDateString()}
            badge={post.data.capacity + " - " + post.data.type}
            url={"/hddreports/" + post.slug}
            target=""
          />
            <div class="divider my-0" />
          </>
          ))
        }
    </div></div>
</BaseLayout>