---
import { Image } from "astro:assets";
---
<div class="relative overflow-x-auto bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[100%] flex flex-col items-center border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <div class="items-center">
        <table>
            <tbody>
                <tr>
                    <th>
                        <Image class="mask" format="png" width={200} height={200} src="/favicon.png" alt="Logo" />
                    </th>
                    <th>
                        <div class="text-5xl font-bold">
                            <center>Support Center <br> Ticket Submission</center>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>