<div class="relative p-3 overflow-x-auto w-full bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[100%] flex flex-col items-center border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

    <div class="rounded-lg p-2 bg-base-100 w-full hover:shadow-xl transition ease-in-out hover:scale-[100%]">
 
        <div class="py-0 ">
            <div class="text-xl py-1">Thank you!</div>
            <text class="text-lg">
            Your Message has been Sent!
            <br>
            You should receive a response in 24-48 hours.
            </text>
            <br>
        </div>

    </div>

    <br />
    <a class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" href="/">
        Go Back to Homepage
    </a>

</div>