---
const today = new Date();
---
<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <table class="w-25% text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
        <tr><th scope="col" class="px-0 py-0">
            <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <div class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">Need Support?  Check the 
                <a href="https://support.matthiesen.xyz"><div role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline w-4 h-4 me-3 bi bi-pc-display" viewBox="0 0 16 16">
                      <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z"/>
                    </svg>IT Help Desk!
                  </div></a></div></div></th>
          <th scope="col" class="relative inline-flex items-center justify-center px-0 py-0">
            <a href="https://www.buymeacoffee.com/adammatthiesen" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 64px !important;width: 217px !important;" ></a>
          </th></tr>
      </thead>
    </table>
    +----+----+------------------------------------+----+----+<br>
     / - - / - - / - - - - - - Adam - Matthiesen - - - - - -  \ - - \ - - \<br>
    | - - | - - | - IT Support & Network Administrator - | - - | - - | <br>
     \ - - \ - - \ - - - - &copy; {today.getFullYear()} - Matthiesen.xyz - - - - - / - - / - - /<br>
     \ - - \ - - \ - - - - - All Rights Reserved. - - - - -  / - - / - - /<br>
     +----+----+------------------------------------+----+----+<br>
  </div>
</footer>
<style>
</style>