---
import { Image } from "astro:assets";
---
<div class="w-fit mx-auto mt-0 mb-0">
    <div class="avatar transition ease-in-out hover:scale-[115%] block m-auto">
      <div class="w-[10rem]">
        <Image class="mask" format="png" width={300} height={300} src="/favicon.png" alt="MXYZ Logo" />
      </div>
    </div>
  </div>