---
import Hddreportimg from "@components/cards/Hddreportimg.astro";

---
<div class="w-fit mx-auto pd-0 mt-5 mb-6">
    <div class="avatar transition pd-0 ease-in-out hover:scale-[115%] block m-auto">
      <div class="w-[12rem]">
        <div class="text-white items-center pd-0 p-0 bg-white items-center border border-gray-700 rounded-box shadow sm:p-0 md:p-2 dark:bg-gray-900 dark:border-gray-900">
          <Hddreportimg imagePath="/src/assets/Merry-Christmas.svg" width={500} height={500} />
        </div>
      </div>
    </div>
 </div>