---
import HolidayChristmas from "./Holidays/HolidayChristmas.astro";
import HolidayNewYear from "./Holidays/HolidayNewYear.astro";
---
<div id="newyear" class="hidden"><HolidayNewYear /></div>
<div id="july4th" class="hidden"><!--HolidayJuly4th /--></div>
<div id="holloween" class="hidden"><!--HolidayHolloween /--></div>
<div id="veteransday" class="hidden"><!--HolidayVeteransDay /--></div>
<div id="thanksgiving" class="hidden"><!--HolidayThanksgiving /--></div>
<div id="christmas" class="hidden"><HolidayChristmas /></div>
<div id="endofyear" class="hidden"><HolidayNewYear /></div>

<script>
  function holidaySchedule(currentDate = new Date()) {
    // GET CURRENT YEAR FROM INIT FUNCTION REQUEST
    var getCurrentYear = currentDate.getFullYear();
    // SCHEDULE
    var newYearStart = new Date(getCurrentYear, 0, 1);
    var newYearEnd = new Date(getCurrentYear, 0, 14);
    var july4thStart = new Date(getCurrentYear, 5, 1);
    var july4thEnd = new Date(getCurrentYear, 5, 7);
    var veteransDayStart = new Date(getCurrentYear, 10, 10);
    var veteransDayEnd = new Date(getCurrentYear, 10, 12);
    var holloweenStart = new Date(getCurrentYear, 9, 27);
    var holloweenEnd = new Date(getCurrentYear, 10, 1);
    var thanksgivingStart = new Date(getCurrentYear, 10, 14);
    var thanksgivingEnd = new Date(getCurrentYear, 10, 29);
    var christmasStart = new Date(getCurrentYear, 11, 10);
    var christmasEnd = new Date(getCurrentYear, 11, 27);
    var endOfYearStart = new Date(getCurrentYear, 11, 28);
    var endOfYearEnd = new Date(getCurrentYear, 11, 31);
    // COMPARE DATES TO CURRENT DATE
    var isNewYear = newYearStart <= currentDate && currentDate <= newYearEnd;
    var isJuly4th = july4thStart <= currentDate && currentDate <= july4thEnd;
    var isVeteransDay = veteransDayStart <= currentDate && currentDate <= veteransDayEnd;
    var isHolloween = holloweenStart <= currentDate && currentDate <= holloweenEnd;
    var isThanksgiving = thanksgivingStart <= currentDate && currentDate <= thanksgivingEnd;
    var isChristmas = christmasStart <= currentDate && currentDate <= christmasEnd;
    var isEndOfYear = endOfYearStart <= currentDate && currentDate <= endOfYearEnd;
    // FIND HTML Elements TO HIDE OR SHOW
    var newyear = document.getElementById('newyear');
    var july4th = document.getElementById('july4th');
    var veteransday = document.getElementById('veteransday');
    var holloween = document.getElementById('holloween');
    var thanksgiving = document.getElementById('thanksgiving');
    var christmas = document.getElementById('christmas');
    var endofyear = document.getElementById('endofyear');
    // FINAL CHECK
    newyear.classList[isNewYear? 'remove' : 'add']('hidden');
    july4th.classList[isJuly4th? 'remove' : 'add']('hidden');
    veteransday.classList[isVeteransDay? 'remove' : 'add']('hidden');
    holloween.classList[isHolloween? 'remove' : 'add']('hidden');
    thanksgiving.classList[isThanksgiving? 'remove' : 'add']('hidden');
    christmas.classList[isChristmas? 'remove' : 'add']('hidden');
    endofyear.classList[isEndOfYear? 'remove' : 'add']('hidden');
  }
  window.onload = function() { holidaySchedule(); };
</script>