---
import FooterArtCopy from "./Footer-ArtCopy.astro";
import FooterSupportAstro from "./Footer-SupportAstro.astro";
---
<footer class="footer footer-center  block mb-5 pt-10"><div class="pb-1">
  <div class="relative overflow-x-auto w-[800px] pb-1 scooootch bg-base-100 transition ease-in-out flex flex-col items-center border border-gray-200 rounded-badge shadow dark:border-gray-700 dark:bg-gray-800">
    <div class="items-center exisitingcustomer">
      <FooterArtCopy />
  </div></div>
  <FooterSupportAstro />
</div></footer>
<style>
</style>