---
import FooterCopyright from "./Footer-Copyright.astro";
---
<div class="rounded-badge relative overflow-x-auto w-[755px] pb-3 pt-0 bg-base-100 hover:shadow-xl transition ease-in-out"><pre>
___  ____    ___  ___  ___    ___  ___  ___  ______ ______ __  __ __  ____  __   ____ __  __ 
// \\ || \\  // \\ ||\\//||    ||\\//|| // \\ | || | | || | ||  || || ||    (( \ ||    ||\ ||
||=|| ||  )) ||=|| || \/ ||    || \/ || ||=||   ||     ||   ||==|| || ||==   \\  ||==  ||\\||
|| || ||_//  || || ||    ||    ||    || || ||   ||     ||   ||  || || ||___ \_)) ||___ || \||
</pre>
<FooterCopyright />
</div>