---
import { type hddSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends hddSchema {}

const { serial, make, model, type, reportDate, capacity } = Astro.props;

dayjs.extend(localizedFormat);
const displayDate = dayjs(reportDate).format("ll");
---

<BaseLayout sideBarActiveItemID="hddreports" title={make + " " + model + " ~ " + serial} description={capacity}>
  <main class="relative overflow-x-auto flex flex-col w-[1500px]">
    <article class="prose prose-lg max-w-[1500px] prose-img:mx-auto">
      <h1 class="title relative max-w-[1500px] my-2 text-4xl font-bold">{make + " " + model + " ~ " + serial}</h1>
      Drive Type: <code>{type}</code>
      <br>
      Drive Capacity: <code>{capacity}</code> 
      <br>
      Report Date: <code>{reportDate && <time>{displayDate}</time>}</code>
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
