---
import HorizontalCard from "@components/cards/HorizontalCard.astro";
---
<div class="relative pd-2 p-2 bg-white border border-gray-200 rounded-lg shadow  dark:border-gray-700 dark:bg-gray-800 mt-5">

  <div>
    <div class="text-3xl font-bold mb-2">External Projects</div>
  </div>

  <div class="divider my-1" />
  <HorizontalCard
    title="Matthiesen Photography"
    img="/photography.jpg"
    desc="Hobbiest Photographers - We both have a love for Photography which led to us creating our website to share our work, and offer our services to anyone interested! We do all sorts of different type of Photography!"
    cfbadge="https://img.shields.io/endpoint?url=https://cloudflare-pages-badges.matthiesenxyz.workers.dev?projectName=matthiesenphotography&style=for-the-badge&label=Last Build"
    url="https://matthiesenphotography.com"
    target="_blank"
  />
</div>
<!-- TEMPLATE
  <div class="divider my-1"></div>
  <HorizontalCard
    title="TEMPLATE"
    img=""
    desc=""
    url="#"
    badge="FOSS"
    target=""
  />
-->