---
import GetSupportCard from "@components/cards/GetSupportCard.astro";

---
<div class="relative pd-2 p-2 bg-white border border-gray-200 rounded-lg shadow  dark:border-gray-700 dark:bg-gray-800 mt-5">
    <div>
      <div class="text-3xl font-bold mb-2">Get IT Support</div>
    </div>
    <div class="divider my-1" />
    <GetSupportCard
      title="IT Help Desk & Support Center"
      img="/mxyz-support-banner-whitetext.png"
      desc="IT Support Center - Progress updates and information regarding release date."
      url="/blog/post-support"
      warn="Currently Links to Blog Post NOT Support Center... That will Change after release!"
      target=""
    />
</div>